name: Build Obfuscate BPB Panel

on:
  push:
    branches:
      - main
  schedule:
        # Runs everyday at 1:00 AM
        - cron: "0 1 * * *"

permissions:
  contents: write

jobs:
  update-and-obfuscate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout 仓库
        uses: actions/checkout@v4

      - name: 设置 Node.js 环境
        uses: actions/setup-node@v4
        with:
          node-version: "latest"

      - name: 安装依赖
        run: |
          npm install -g javascript-obfuscator
          sudo apt-get update
          sudo apt-get install -y jq curl unzip

      - name: 获取最新 release tag
        id: get_release
        run: |
          latest_tag=$(curl -s https://api.github.com/repos/bia-pain-bache/BPB-Worker-Panel/releases/latest | jq -r '.tag_name')
          echo "最新版本: $latest_tag"
          echo "latest_tag=$latest_tag" >> $GITHUB_ENV

      - name: 读取当前版本号
        id: read_version
        run: |
          if [ -f "version.txt" ]; then
            current_version=$(cat version.txt | tr -d '\n' | tr -d '\r')
          else
            current_version=""
          fi
          echo "当前版本: $current_version"
          echo "current_version=$current_version" >> $GITHUB_ENV

      - name: 判断是否更新
        id: check_update
        run: |
          if [ "$current_version" = "$latest_tag" ]; then
            echo "need_update=false" >> $GITHUB_ENV
            echo "无需更新"
          else
            echo "need_update=true" >> $GITHUB_ENV
            echo "需要更新"
          fi

      - name: 下载最新版 worker.js
        run: |
          curl -L -o origin.js "https://github.com/bia-pain-bache/BPB-Worker-Panel/releases/download/${{ env.latest_tag }}/worker.js"
          
      - name: Obfuscate BPB worker js
        run: |
          javascript-obfuscator origin.js --output _worker.js \
          --compact true \
          --control-flow-flattening true \
          --control-flow-flattening-threshold 1 \
          --dead-code-injection true \
          --dead-code-injection-threshold 1 \
          --identifier-names-generator hexadecimal \
          --rename-globals true \
          --string-array true \
          --string-array-encoding 'rc4' \
          --string-array-threshold 1 \
          --transform-object-keys true \
          --unicode-escape-sequence true          

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: ':arrow_up: update latest bpb panel'
          commit_author: 'github-actions[bot] <github-actions[bot]@users.noreply.github.com>'
          push_options: '--set-upstream'
